<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="gestionStageRivel" verbose="1">
    <parameter name="nom" value="Tuteur Gamma" />
    <parameter name="competence" value="AMOA" />
    <parameter name="sesEtudiants" value="[Etudiant { nom = ' Lina SOULIER ' }]" />
    <parameter name="sesEnseignants" value="[Enseignant { nom = ' Tuteur Beta ' }]" />
    <test name="gestionStageTest">
        <classes>
            <class name="tests.StagesRequetesTest">
                <methods>
                    <include name="testEtudiantsDeLEnseignant"/>
                   <include name="testEnseignantEncadreCompetence"/>
                   <include name="testEtudiantsMatchStagesNonAffectes"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
